
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: ;
	font-size: 16px;
	font-family: 'Montserrat',Arial,sans-serif;
}


#logo {
	background-color: ;
	text-align: center;
	margin-top: 2.5em;
	margin-bottom: 1em;
}

ul {
	background-color: ;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 4em;
	justify-content: center;
	list-style-type: none;
	margin-top: 2.5em;
}
li a {
	font-size: 1.6em;
	text-decoration: none;
	color: #1F3351;
}

li a:hover {
	color: #F5C2CB;
}

#mainParagraph {
	height: auto;
	text-align: center;
	font-size: 1em;
	margin-top: 0.5em;
	background-color: ;
	letter-spacing: 0.7px;
	line-height:1.7;
}

.photos {
	display: flex;
	justify-content: center;
	gap: 2.5em;
	background-color: ;
	margin-top: 2.5em;
}

.photos img:hover {
	border: 3px solid #F5C2CB;
	color: #F5C2CB;
}

h2 {
	background-color: ;
	text-align: center;
	margin-top: 1em;
	font-size: 1.8em;
}

article div {
	border: 1px solid black;
	margin: 10px;
	padding: 15px;
	border-radius: 15px;
	background-color: lightpink;

}
.services {
	margin-top: 2.5em;
	background-color: lemonchiffon;
	display: grid;
	grid-template-columns: repeat(4, 300px);
	
	grid-gap: 50px;

	
}


@media (max-width: 40rem) {


