
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Montserrat',Arial,sans-serif;
}


#logo {
	text-align: center;
	margin-top: 2.5em;
	margin-bottom: 1em;
}


#header {
	display: flex;
	flex-wrap: wrap;
	gap: 4em;
	justify-content: center;
	list-style-type: none;
	margin-top: 2.5em;
}

li a {
	font-size: 1.6em;
	text-decoration: none;
	color: #1F3351;
}

li a:hover {
	color: #F5C2CB;
}


#mainParagraph {
	height: auto;
	text-align: center;
	font-size: 1em;
	margin-top: 2.5em;
	letter-spacing: 0.7px;
	line-height:1.7;
}

.photos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2.5em;
	background-color: ;
	margin-top: 2.5em;
}

.photos img:hover {
	border: 3px solid #F5C2CB;
	color: #F5C2CB;
}

h2 {
	text-align: center;
	margin-top: 2.5em;
	font-size: 1.8em;
}

.block {
	padding: 1em;
	text-align: ;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2.5em;
	margin-top: 2.5em;
}

.block img {
	width: 180px;
	height: 160px;
	object-fit: cover;
}


.heading {
	width: 180px;
	height: 40px;
	text-align: center;
	margin-top: 1em;
	font-size: 1em;
	letter-spacing: 0.7px;
	color: #1F3351;
}

.heading:hover {
	color: #F5C2CB;
}


.paragraph {
	margin-top: 1em;
	width: 180px;
	height: 130px;
	text-align: center;
	overflow: auto;
	box-sizing: border-box;
	font-size: 1em;
	letter-spacing: 0.4px;
	line-height:1;
	color: #1F3351;
}

footer {
	margin-top: 2.5em;
	border-top: 4px solid #F5C2CB;
	min-height: 20em;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
}

.mainfooter {
	display: flex;
	justify-content: space-between;
	gap: 2.5em;
	line-height:2.7;
}

#help, #rewards, #company {
	display: block;
	list-style-type: none;	
}

#rewsecond {
	margin-top: 3em;
}

.bottom {
	display: flex;
	justify-content: space-between;
	gap: 1em;
	margin-top: 3em;
	padding-top: 0.2em;
	min-height: 2em;
	border-top: 1px solid #F5C2CB;
}


.bottom ul {
	list-style-type: none;
	display: flex;
	gap: 2.5em;
}


#logofooter {
	margin-bottom: 3.5em;
}







@media (max-width: 768px) {
	
	#logo img {
	    width: auto;
		height: 50px;
		margin-top: 0.5em;
		margin-bottom: 1em;
	}
	
	#header {
		width: 100%;
	    margin-top: 0.5em;
	    gap: 1em;
	    margin-top: 1.5em; 
	}
	li a {
	    font-size: 2rem;
    }

    #mainParagraph {
	width: 100%;
	font-size: 1.5rem;
	margin-top: 0.5em;
	letter-spacing: 0.7px;
	line-height:1.7;
}

.photos {
	width: 100%;
	
}
.photos img {
	width: 300px;
	height: 533px;
}

h2 {
	margin-top: 1.5em;
	font-size: 2rem;
}

.block {
	gap: 1.5em;
	margin-top: 0.5em;
	width: 100%;
}

.block img {
	width: 550px;
	height: 978px;
}
.block h3 {
font-size: 2rem;
width: 550px;
height: auto;
}

.paragraph {
	margin-top: 1em;
	width: 550px;
	height: auto;
	font-size: 1rem;
}
   
	
	 
	 .mainfooter, #help, #rewards, #company, #rewsecond, #logofooter {
	   display: none;
    }

footer {
	 border-top: none;

    }



  

   
}
	

